<%= form_with(model: subject_review, local: true) do |form| %>
  <% if subject_review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(subject_review.errors.count, "error") %> prohibited this subject_review from being saved:</h2>

      <ul>
        <% subject_review.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.number_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :subject_id %>
    <%= form.number_field :subject_id %>
  </div>

  <div class="field">
    <%= form.label :review %>
    <%= form.text_area :review %>
  </div>

<<<<<<< HEAD
=======

>>>>>>> 8e859561bdbdea7ed337f80ce44dd86a61ee8c4f
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
