<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @subject_review.user_id %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @subject_review.subject_id %>
</p>

<p>
  <strong>Review:</strong>
  <%= @subject_review.review %>
</p>

<<<<<<< HEAD
=======


>>>>>>> 8e859561bdbdea7ed337f80ce44dd86a61ee8c4f
<%= link_to 'Edit', edit_subject_review_path(@subject_review) %> |
<%= link_to 'Back', subject_reviews_path %>
