<%= form_with(model: subject_file, local: true) do |form| %>
  <% if subject_file.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(subject_file.errors.count, "error") %> prohibited this subject_file from being saved:</h2>

      <ul>
        <% subject_file.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div class="container file-form">
  <div class="row mb-2">
    <div class="col-4">
      <%= form.label :subject_id, "Subject ID" %>
    </div>
    <div class="col-8">

      <!--TODO: xu ly van de ko cos Subject nao-->
      <%= form.select :subject_id, Subject.all.map { |subject| [subject.id] } %>
    </div>
  </div>
  <div class="row mb-2">
    <div class="col-4">
      <%= form.label :title %>
    </div>
    <div class="col-8">
      <%= form.text_field :title %>
    </div>
  </div>
  <div class="row mb-2">
    <div class="col-4">
      <%= form.label :description %>
    </div>
    <div class="col-8">
      <%= form.text_area :description, rows: "3", style: 'width:100%;' %>
    </div>
  </div>
  <div class="row mb-4">
    <div class="col-4">
      <%= form.label :file_url, "File URL" %>
    </div>
    <div class="col-8">
      <%= form.text_field :file_url %>
    </div>
  </div>
  <div class="row">
    <div class="col-12 text-center">
      <div class="action">
        <%= form.submit %>
      </div>
    </div>
  </div>
</div>
<% end %>
