<p id="notice"><%= notice %></p>

<!--<h1>Subject Files</h1>-->

<div class="container">
  <div class="row">
    <div class="col-12">
        <div class="card card-employee card-margin">
            <div class="card-body">
                <div class="row search-body">
                    <div class="col-lg-12">
                        <div class="search-result">
                            <div class="result-body">
                                <div class="table-responsive">
                                    <table class="table widget-26 table-striped subject-table mb-0">
                                        <caption><%= link_to '  New Subject File', new_subject_file_path %></caption>
                                        <thead class="thead-custom">
                                            <tr>
                                                <th scope="col">Subject</th>
                                                <th scope="col">Title</th>
                                                <th scope="col">Description</th>
                                                <th scope="col">File Url</th>
                                                <th scope="col"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% @subject_files.each do |subject_file| %>
                                              <tr>
                                                <td class="from-subject-name" scope="row">
                                                    <%= link_to subject_file.subject do %>
                                                        <%= subject_file.subject.subject_name if subject_file.subject%>
                                                    <% end %>
                                                </td>
                                                <td class="file-title">
                                                    <%= subject_file.title %>
                                                </td>
                                                <td class="file-info">
                                                    <p class="type m-0"><%= subject_file.description %></p>
                                                    <p class="m-0"><span class="text-muted time"><%= time_ago_in_words(subject_file.created_at) %></span></p>
                                                </td>
                                                <td class="file-url">
                                                    <p class="type m-0">
                                                        <%= link_to subject_file.file_url do %>
                                                        <%= subject_file.file_url[0...50] %>...
                                                        <% end %>
                                                    </p>
                                                </td>
                                                <td class="file-button text-right">
                                                    <%= link_to edit_subject_file_path(subject_file) do %>
                                                        <button type="button" class="btn btn-secondary"><i class="far fa-edit"></i></button>
                                                    <% end %>
                                                    <%= link_to subject_file, method: :delete, data: { confirm: 'Are you sure?' } do %>
                                                        <button type="button" class="btn btn-danger"><i class="far fa-trash-alt"></i></button>
                                                    <% end %>
                                                </td>
                                              </tr>
                                              <!--<br>-->
                                            <% end %>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

