<p id="notice"><%= notice %></p>

<p>
  <strong>Subject:</strong>
  <%= @subject_file.subject_id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @subject_file.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @subject_file.description %>
</p>

<p>
  <strong>File Url:</strong>
  <%= @subject_file.file_url %>
</p>

<%= link_to 'Edit', edit_subject_file_path(@subject_file) %> |
<%= link_to 'Back', subject_files_path %>
