<p id="notice"><%= notice %></p>
<div  style="float: left; with:70%">
  <h1>Subjects</h1>
</div>
<div style="with:30%; float: right; margin: 1% 8.3% 5px;">
  <button type="button" class="btn btn-primary" style="float: left">
    <span><%= link_to 'New Subject', new_subject_path, class: 'text-white'%></span>
  </button>
</div>


<table class="table">
  <thead class="thead-dark">
    <tr>
      <th>Subject code</th>
      <th>Subject name</th>
      <th>Number of credits</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @subjects.each do |subject| %>
      <tr>
        <td><%= subject.subject_code %></td>
        <td><%= link_to subject.subject_name, subject, class: 'text-dark' %></td>
        <td><%= subject.number_of_credits %></td>
        <td><%= subject.Description %></td>
        
        <td>
          <div class="btn-group text-white" >
            <button type="button" class="btn btn-primary "><%= link_to 'Edit', edit_subject_path(subject), class: 'text-white' %></button>
            <button type="button" class="btn btn-primary btn-danger"><%= link_to 'Destroy', subject, method: :delete, data: { confirm: 'Are you sure?' } , class: 'text-white'%></button>
          </div>
        </td>
      </tr>
    <% end %>
    
  </tbody>
</table>
<%= paginate @subjects %>
<br>


