<p id="notice"><%= notice %></p>

<p>
  <strong>Subject code:</strong>
  <%= @subject.subject_code %>
</p>

<p>
  <strong>Subject name:</strong>
  <%= @subject.subject_name %>
</p>

<p>
  <strong>Number of credits:</strong>
  <%= @subject.number_of_credits %>
</p>

<p>
  <strong>Description:</strong>
  <%= @subject.Description %>
</p>

<%= link_to 'Edit', edit_subject_path(@subject) %> |
<%= link_to 'Back', subjects_path %>
